/** ----------- FONTS ------------ **/
$font-family-base: 'Lato', sans-serif;
$headings-font-family: 'Orbitron', sans-serif;
$custom-subheadings-font-family: 'Oxygen', sans-serif;

/** --------- Z-INDEXES ---------- **/
$z-index-section-inactive: 10;
$z-index-section-active: 20;
$z-index-sidebar: 100;
$z-index-nav-tabs: 200;
$z-index-modal: 9000;
$z-index-notifications: 9500;
$z-index-dialogs:9800;
$z-index-activity-spinner: 9990;
$z-index-animated-cursor: 9995;
$z-index-loader: 9999;

/** ----------- LAYOUT ----------- **/
$sidebar-width: 280px;
$sidebar-shrink-width: 120px;
$nav-tabs-height: 55px;
$nav-tabs-chrome-offset: 20px;
$standard-border-radius: 10px;
$layout-blocks-spacing: 0.5rem;
$sidebar-min-breakpoint: md;

/** ----------- COLORS ----------- **/

/** COLORS - overriding bootstrap colors **/
$primary: #4e1c86;
$secondary: #6c757d;
$dark: #111;
$light: #EEE;

/** COLORS - static **/
$loader-background-color: #111111;

:root {
    --mobile-layout-breakpoint: md;
}

/** COLORS - dark theme palette **/
:root {
    --theme-main: #111111;
    --theme-main-2: #1A1A1A;
    --theme-main-3: #1C1C1C;
    --theme-main-4: #1f1f1f;

    --theme-secondary: #EEEEEE;
    --theme-secondary-2: #D1D1D1;
    --theme-secondary-3: #bbbbbb;
    --theme-secondary-4: #9f9f9f;

    --theme-soft: #212121;
    --theme-soft-2: #252525;
    --theme-soft-3: #292929;

    --theme-highlight: #c2a0fa;
    --theme-highlight-2: #caabf3;
    --theme-highlight-3: #d8d4e2;

    --theme-dark: #101010;
    --theme-dark-opacity: rgba(16, 16, 16, 0.2);
    --theme-muted: #6c757d;
    --theme-white: #EEE;

    --theme-bg: url('/images/css/bg-dark.png');
    --theme-bg-color: #1C1C1C;
    --theme-section-background: #1A1A1A;
    --theme-section-background-opacity: rgba(26, 26, 26, 0.86);
    --theme-tag-color: #181818;
    --theme-box-shadow: none;

    --theme-nav-background: #1A1A1A;
    --theme-nav-background-disabled: #181818;
    --theme-nav-secondary: #EEEEEE;
    --theme-nav-light: #1f2022;
    --theme-nav-highlight: #5e26a7;
    --theme-nav-selected: #232526;

    --theme-scrollbar-track: #111111;
    --theme-scrollbar-thumb: #32343a;
    --theme-chart-borders: #e7f6e3;

    --theme-danger: #730808;
}

/** COLORS - light theme palette **/
[data-theme="light"] {
    --theme-main: #bc9adb;
    --theme-main-2: #a98ec9;
    --theme-main-3: #9d82b7;
    --theme-main-4: #907db0;

    --theme-secondary: #695385;
    --theme-secondary-2: #4b4161;
    --theme-secondary-3: #4b4368;
    --theme-secondary-4: #5b418a;

    --theme-soft: #d2c3e3;
    --theme-soft-2: #d3bfde;
    --theme-soft-3: #c6bad9;

    --theme-dark: #daf5e4;
    --theme-dark-opacity: rgba(218, 245, 228, 0.2);
    --theme-muted: #847c8d;
    --theme-white: #ffffff;

    --theme-highlight: #552693;
    --theme-highlight-2: #332079;
    --theme-highlight-3: #361a64;

    --theme-bg: url('/images/css/bg-green.png');
    --theme-bg-color: #b19adb;
    --theme-section-background: #dbcaec;
    --theme-section-background-opacity: rgba(221, 202, 236, 0.9);
    --theme-tag-color: #c0b1cc;
    --theme-box-shadow: none;

    --theme-nav-background: #e1caec;
    --theme-nav-background-disabled: #d9c5e6;
    --theme-nav-secondary: #554f5b;
    --theme-nav-light: rgba(228, 217, 243, 0.5);
    --theme-nav-highlight: #e3d7f1;
    --theme-nav-selected: #622693;

    --theme-scrollbar-track: #d4c3e4;
    --theme-scrollbar-thumb: #7d55bd;
    --theme-chart-borders: #eae3f6;

    --theme-danger: #fad6d6;
}

.bg-dark {
    background-image: url('/images/css/bg-dark.png');
    background-size: cover;
    background-position: center;
}

.bg-green {
    background-image: url('/images/css/bg-green.png');
    background-size: cover;
    background-position: center;
}